@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer utilities {
  .bg-cyberpunk-gradient {
    background: linear-gradient(135deg, #0d3b66, #0a2342);
    /* #0d3b66 es un azul oscuro, y #0a2342 es un casi negro */
  }
  .text-neon {
    color: #00ffcc;
    /* Verde neón */
  }
  .border-neon {
    border-color: #00ffcc;
  }
  .hover-bg-neon:hover {
    background-color: #00ffcc;
    color: #0a2342;
  }
}
